<div class='container-fluid'>
  <div class='row'>
    <div class='col-sm-3'>
      <app-nav-menu></app-nav-menu>
    </div>
    <div class='col-sm-9 body-content'>
      <router-outlet></router-outlet>

      <div *ngIf="stocs.length>0" class="table-container">
        <table class="table table-bordered">
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Value</th>
          </tr>
          <tr *ngFor="let stoc of stocs">
            <td>{{stoc.id}}</td>
            <td>{{stoc.name}}</td>
            <td>{{stoc.value}}</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="layout-topbar">
      <div class="fluid-container">
          <div class="row">
              <div class="col-md-10">
                  <div style="color:white" class="col-md-3">Angular 5+ SignalR Notifications</div>
              </div>
          </div>
      </div>
  </div>
    

  <p-growl [(value)]="msgs"></p-growl>
  </div>
</div>
